
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --layout-max-width: 990px;

  --gray-01: #727272;

  --blue-01: #39AAE1;
  --blue-02: #0079C7;
  --blue-03: #2B4C99;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

button {
  cursor: pointer;
}
